<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Tareas en memoria</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nombre
                </th>
                <th>
                  Prioridad
                </th>
                <th>
                  Momento agendamiento
                </th>
                <th>
                  Momento terminacion
                </th>
              </thead>
              <tbody>
                    <tr *ngFor="let task of tasks | keyvalue" >
                      <td> {{ task.value.taskName }} </td>
                      <td> {{ task.key }} </td>
                      <td> {{ task.value.timeOfSchedule }} </td>
                      <td> {{ task.value.timeOfEnding }} </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
