<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Ingrese tarea</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit) = "onSubmit()">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Nombre de la tarea</label>
                  <input type="text" class="form-control"  placeholder="..." id = "taskName" [(ngModel)] = "task.taskName" name = "taskName">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Prioridad</label>
                  <input type="text" class="form-control" placeholder="..." id = "priority" [(ngModel)] = "task.priority" name = "priority">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Codigo Test</label>
                  <input name="isTest" id="isTest" type="text" class="form-control" placeholder="..." [(ngModel)] = "task.isTest">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Url</label>
                  <input type="text" class="form-control" placeholder="..." id = "requestedUrl" [(ngModel)] = "task.requestedUrl" name = "requestedUrl">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Descripcion</label>
                  <input type="text" class="form-control" placeholder="...">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-block" (click)="showNotification('bottom','center')" type ="submit">Ingresar tarea</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
            </a>
            <p class="description" style="color:rgb(14, 8, 8);">
              ¿ Que debo agregar aqui ?
            </p>
          </div>
          <p class="description text-center" style="color:rgb(14, 8, 8);">
            En este formulario se espera
            <br> que añadas la informacion
            <br> qie el priorizador utiliza 
            <br> Para identificar el momento ideal
            <br> para la ejecucion de tu tarea
            <br> como el input requerido de 
            <br> la informacion  que necesitas
          </p>
        </div>
        <hr>
        <div class="button-container">
          <button type="button" (click)="goToYoutubeUrl()" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i  class="fab fa-youtube"></i>
          </button>
          <button type="button" (click)="goToGithubUrl()" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i  class="fab fa-github"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
