<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Ingress task</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit) = "onSubmit()">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Task Name</label>
                  <input type="text" class="form-control"  placeholder="..." id = "taskName" [(ngModel)] = "task.taskName" name = "taskName">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Priority</label>
                  <input type="text" class="form-control" placeholder="..." id = "priority" [(ngModel)] = "task.priority" name = "priority">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label> Test</label>
                  <input name="email" id="test" type="text" class="form-control" placeholder="..." [(ngModel)] = "task.isTest">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Url</label>
                  <input type="text" class="form-control" placeholder="..." id = "url" [(ngModel)] = "task.requestedUrl" name = "requestedUrl">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" placeholder="...">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-block" (click)="showNotification('bottom','center')">Submit task</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
            </a>
            <p class="description" style="color:rgb(14, 8, 8);">
              What should I add here ?
            </p>
          </div>
          <p class="description text-center" style="color:rgb(14, 8, 8);">
            In this form you are expected 
            <br> to add information that the 
            <br> priorizer system use to 
            <br> Indentify the ideal moment for
            <br> the execution of your task and
            <br> the input required to give you
            <br> the information you need
          </p>
        </div>
        <hr>
        <div class="button-container">
          <button href="https://www.youtube.com/watch?v=vAizgtR4V7I&t=1s" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-youtube"></i>
          </button>
          <button href="https://github.com/Leyner-Andres-Bejarano-Palacios/java_springboot_docker_backend" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
